OPENAI_API_KEY=
GOOGLE_AI_API_KEY=
ANTHROPIC_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1
LOCAL_SD_BASE_URL=
LOCAL_SD_API_KEY=
NEO4J_URI=
NEO4J_AUTH=username/password
GENERATION_MODEL=gemini-2.5-pro
THINKING_MODEL=true
IMAGE_GENERATION_MODEL=local-sd
TUNED_LLAMA_MODEL=Soraki5th/auto-vn-gen-llama-8b-v6-merged-16bit